<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
  <link rel="stylesheet" href="../css/admin.css"/>
 
</head>
<body>
    <header>
      <%- include('partials/headerAdmin.ejs') %>
    </header>

<main class="container">



<table class="item-list">

    <div class="search-container">
        <img class="loupe" src="../images/icons/search_icon.svg" />
        <input class="input" type="search" />
    </div>
    
    <div class="product-list-tittle">
    
    <h1>LISTA DE PRODUCTOS</h1>
    
        <div class="add-container">
    
             <h2 class="agregar__text">AGREGAR</h2>
                <a href="/create"><img  class="agregar__add"  src="../images/icons/+icon admin.png"/></a>
        </div>
    
    </div>

<thead>
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Nombre de Producto</th>
        <th>Categoría</th>
    </tr>
</thead>
    
   

    <tbody>
        <% for (let i=0; i < products.length; i++ ) { %>

        <tr>
            <td><%= products[i].id %></td>
            <td><%= products[i].codigo %></td>
            <td><%= products[i].nombreProducto %></td>
            <td><%= products[i].categoria %></td>
            <td><a href="/edit"><img class="product__icon" src="../images/icons/edit_pencil.svg" ></a></td>
            <td><img  class="product__icon"  src="../images/icons/delete_trash.svg" ></td>
        </tr>
    </tbody>
       <% } %>  
   

</table>

</main>


    <footer class="footer">
          <%- include('partials/footerAdmin.ejs') %>
     </footer>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script>
    new Glide('.glide', {
        type: 'carousel',
        startAt: 0,
        perView: 3,
        gap : 30,
        breakpoint:{
          991: {
             perView: 2
          },
          768:{
            perView: 1
          }
        }
    }).mount();
  </script>

</body>
</html>