<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="./css/slider.css" />
   
  </head>
  <body>
    <header>
      <%- include('partials/header.ejs') %>
    </header>

    <main>
      <section class="hero">
        <article class="hero__contenido container">
          <h3 class="hero__title">Nuevos Ingresos</h3>
          <p class="hero__text">
            Descubrí el próximo Funko Pop de tu colección
          </p>
          <a class="hero__link" href="/shop2">SHOP</a>
        </article>
      </section>

      <% for(let i=0 ; i < 3  ; i++) {%>

      <section class="coleccion container">
        <article class="coleccion__content">

          <h3 class="coleccion__tittle"><%= coleccion[i].tittle %></h3>
          <p class="coleccion__text">
            <%= coleccion[i].text %>
          </p>
          <a class="coleccion__link" href="/shop2">VER COLECCIÓN</a>
        </article>
        <picture class="coleccion__cover">
          <img
            src="<%=coleccion[i].img %>"
            alt="imagen baby-yoda-1"
          />
        </picture>
      </section>

      <%}%>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
      <section class="slider container glide">
        <h2 class="slider__tittle">ÚLTIMOS LANZAMIENTOS</h2>
        <div class="glide__track" data-glide-el="track">
          <!--esto es un carousel-->

          <ul class="slider__items glide__slides">

            <% for(let i=0; i < coleccion.length; i++) {%>

              <li class="slider__item glide__slide">
                <article class="card-item">
                  <a class="card-item__link" href="">
                    <picture class="card-item__cover">
                      <span class="card-item__tag">NUEVO</span>
                      <img
                        class="card-item__img--front"
                        src="<%= coleccion[i].imgfront %>" 
                        alt="imagen"
                      />
                      <img
                        class="card-item__img--back"
                        src="<%= coleccion[i].imgback %>"
                        alt="imagen"
                      />
                    </picture>
                    <div class="card-item__content">
                      <h4 class="card-item__licence"><%= coleccion[i].licence %></h4>
                      <h3 class="card-item__name"><%= coleccion[i].name %></h3>
                      <p class="card-item__price"><%= coleccion[i].price %></p>
                      <p class="card-item__promo"><%= coleccion[i].promo %></p>
                    </div>
                  </a>
                </article>
              </li>

              <%}%>         
          </ul>
        </div>
        <div class="glide__arows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow-left" data-glide-dir="<"><iconify-icon icon="cil:chevron-left"></iconify-icon></button>
          <button  class="glide__arrow glide__arrow-right" data-glide-dir=">"><iconify-icon icon="cil:chevron-right"></iconify-icon></button>
        </div>
      </section>
    </main>

    <footer class="footer">
      <%- include('partials/footer.ejs') %>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    <script>
      new Glide('.glide', {
          type: 'carousel',
          startAt: 0,
          perView: 3,
          gap : 30,
          breakpoint:{
            991: {
               perView: 2
            },
            768:{
              perView: 1
            }
          }
      }).mount();
    </script>
<<<<<<< HEAD
=======
   
>>>>>>> develop
  </body>
</html>
